#containerMain{
    margin-top: 100px;
    margin-bottom: 50px;
}
h1.ui.header{
    text-align: center;
}
p.data{
    font-size: large;
}
ul{
    font-size: large;
}
ol{
    font-size: large;
}
#quote{
    font-size: x-large;
    text-align: center;
    color: #0ea432;
}
#video-small{
    display: block;
}
#video-big {
    display: none;
}
@media (min-width: 770px) {
    #video-big{
        display: block;
    }
    #video-small{
        display: none;
    }
}
.ui.link.cards{
    margin-left: 7vw;
}